* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: MyFont;
  src: url(fonts/Montserrat/Montserrat-Regular.ttf);
}
html {
  font-family: 'Courier New', Courier, monospace;
  /* font-size: ; */
}
body {
  background-color: #202020;
}



/* ======= HEADER NAV ====== */
header {
  display: flex;
  background-color: #fff;
  /* border: 1px solid rgb(0, 0, 255); */
  height: 60px;
  width: 100%;
  /* position: absolute; */
  position: fixed;
  top: 0;
}
header > a {
  flex: 0 1 104px;
  z-index: 10;

}
#logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
nav {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid red; */
  height: 100%;


}
nav a {
  font-size: x-large;
  /* box-sizing: border-box; */
  text-decoration: none;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  padding: 20px 30px;
}
nav a:hover {
  box-shadow: 0 1px 3px #faebd7, 0 -1px 3px #faebd7;

}



#sidebar-active {
  display: none;
  /* remove checkbox */
}

.open-sidebar-btn, .close-sidebar-btn {
  display: flex;

}
.links-container {
  display: none;
  flex-direction: column;
  align-items: flex-start;

  position: fixed;
  top: 0;
  right: 0;
  /* z-index: 10; on top */
  width: 250px;
  height: 100%;

  color: #faebd7;
  background-color: rgba(0, 0, 0, 0.482);
  box-shadow: -1px 0 3px #c5c5c5bf;

}
/* Activate checkbox */
#sidebar-active:checked ~ .links-container { /* sibling selector */
  display: flex;
}
#sidebar-active:checked ~ .links-container, nav a {
  color: #faebd7;
}


/* ======= H1-H6 AND BANNER ====== */

h1, h2 {
  text-align: center;
}
.banner {
  margin-top: 60px;
  height: 10vw;

}
.home-banner {
  background-image: url(img/about-blur.jpg);

}


/* ======= SECTION ====== */

section img {
  width: 80%;
}


/* ======= MEDIA QUARIES ====== */
/* ~ sibling selector */
/* if checkbox is NOT checked style element like following */

@media screen and (min-width: 900px) {

  :not(#sidebar-active:checked) ~ .links-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

    position: unset;
    width: 100%;
    box-shadow: none;
  }
  :not(#sidebar-active:checked) ~ nav a {
    border: 1px solid red;
    padding: 0 30px;
    padding-top: 100%;
    color: black;
    width: auto;
  }
  .open-sidebar-btn, .close-sidebar-btn {
    display: none;
  }
  nav a:hover {
    background-color: red;
  }
}


@media screen and (min-width: 1250px) {
  :not(#sidebar-active:checked) ~ .links-container {
    margin-left: -104px;
    justify-content: center;
  }
/* center nav-links on larger screen*/
}
