body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  box-sizing: border-box;

  margin: 0;
  border: 2px solid blue;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /*grid, to fill up the viewport*/
}
header{
  border: 1px solid yellowgreen;
  padding-top: 5px;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: white;
}
.logo {
  height: 5vh;

} .logo img{
  width: 100%;
  height: 100%;
  /* w&h needs to be set for object-fit to work*/
  /* border: 1px solid green; */
  object-fit: contain;

}.navbar {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  height: 5vh;
  /* padding: 15px 5vw; */

}.navbar a{
  text-decoration: none;
  color: black;
  padding-right: 20px;

}
 main {
  margin-top: 10vh; /*because of fixed header*/
  /* border: 1px solid red; */
} footer {
  border: 1px solid red;

}

#about-bg {
  background-image: url(img/tasha-kostyuk-gSkEvclp-SU-unsplash.jpg);
} #vision-bg {
  background-image: url(img/pexels-copy.jpg)}

@media screen and (min-width: 768px) {

  header {
    display: flex;

  } .logo{
    flex: 0 1 auto;
    min-height: 50px;

  } .navbar {
    flex: 1 0 auto;
    justify-content: flex-start;
    align-content: flex-end;
    padding-left: 10vw;

  } .navbar a {
    background-color: gray;
    padding-left: 20px;
    padding-top: 1em;
    border-radius: 10px 10px 0 0;
  } main {
    display: flex;
    flex-direction: column;
    max-width: 860px;
    justify-self: center;
  }
}
