/* MOBILE FIRST */
  
body {
  box-sizing: border-box;
  margin: 0;
  display: grid;
  grid-template: 1fr 80vh 1fr / 1fr;
  
}

    /* header */

.logo{
  height: 10vh;
  width: 100%;
  object-fit: contain;
}
.navmenu{
  padding: 0 5%;
  display: flex;
  justify-content: space-around;
  
  /* border: 1px solid black; */
} .navmenu a{
  text-decoration: none;
}



    /* main */


    /* footer */
footer {
  border: 1px solid red;
  font-size: small;
  
 } 
 #adress {
  min-width: 80%;
}
.social-media{
  width: 10%;
}
footer img {
  height: 30px;
}


/* RESPONSIVE */

/* @media screen and (min-width:900px) {
   .navlist {
    display: flex;
  } 
  .navlist li:hover{
    background-color: purple;
    /*different style on hovered list element
  }
} */