* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: h1Headers;
  src: url(fonts/Cabin_Sketch/CabinSketch-Bold.ttf);
}
@font-face {
  font-family: h2Headers;
  src: url(fonts/Reenie_Beanie/ReenieBeanie-Regular.ttf);
}
body {
  background-color: #1a1a1a;
  height: 100vh;

  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "navbar"
    "banner"
    "content"
    "footer";

  font-family: 'Courier New', Courier, monospace;
  color: #BBAE9C;
}


/* ======= HEADER, HAMBURGER MENU ====== */
header {
  grid-area: navbar;
  display: flex;
  background-color: #ffedd5;
  height: 60px;
  width: 100%;

  position: fixed;
  top: 0;
  box-shadow: -1px 0 3px #000;
}
header > a {
  flex: 0 1 104px;
  z-index: 10;
  /*logo on top - desktop screen*/
}
#logo {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  object-fit: contain;
}
nav {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
nav svg {
  height: 100%;
  width: 60px;
  padding-right: 25px;
}
nav a {
  font-size: x-large;
  text-decoration: none;
  font-weight: bolder;
  height: auto;
  width: 100%;
  padding: 20px 30px;
}
nav a:hover {
  box-shadow: 0 1px 3px #8aa370, 0 -1px 3px #8aa370;
}
#sidemenu-activated {
  display: none;
  /* remove checkbox visually */
}
.btn-open-sidemenu, .btn-close-sidemenu {
  display: flex;
}
.side-menu {
  display: none;
  flex-direction: column;
  align-items: flex-start;

  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;

  background-color: #000;
  box-shadow: -1px 0 3px #8aa370;
}

/* "If checkbox is active, do following
to the sibling (~ sibling selector) element" */
#sidemenu-activated:checked ~ .side-menu, nav a {
  display: flex;
  color: #ffedd5;
  /* If checkbox is activated the side menu will display
  and the text color vill change */
}


/* ======= H1-H6 AND BANNER ====== */
h1, h2 {
  font-size: 3.4rem;
}
h1 {
  margin: auto;
  padding: 0 5px;
  font-family: h1Headers;
  color: #000;
  text-align: center;
  background-color: #faebd7d0;
  border: 2px solid black;
  border-radius: 30px;
}
h2 {
  font-family: h2Headers;
  font-weight: lighter;
}
.banner {
  grid-area: banner;
  display: flex;
  background-position-y: center;
  background-size: cover;
  margin-top: 60px;
  height: 20vw;
  max-height: 400px;
  min-height: 150px;
}
.home-banner {
  width: 100%;
  background-image: url(img/tasha-kostyuk-gSkEvclp-SU-unsplash.jpg);
}


/* ======= MAIN CONTENT ====== */

main {
  margin-top: 5vw;
}
.home-content {
  grid-area: content;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main section {
  margin: 40px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}
section img {
  margin-bottom: 35px;
  width: 70%;
  border-radius: 50%;
}
address {
  font-size: large;
}

/* ======= FOOTER ====== */
footer {
  margin-top: 2.5vw;
  box-shadow: -1px 0 3px #ffedd5;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  text-align: center;
}


/* ======= MEDIA QUARIES ====== */

@media screen and (min-width: 900px) {
  :not(#sidemenu-activated:checked) ~ .side-menu {
  /* if checkbox is NOT checked, style the sibling element (~ sibling selector)
  like following */
    background-color: #ffedd5;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    /*nav-links to the top..somehow..*/
    justify-content: flex-end;
    /*nav-links to the right*/

    position: unset;
    width: 100%;
    box-shadow: none;
    /*remove vertical shadow*/
  }
  :not(#sidemenu-activated:checked) ~ nav a {
  /* if checkbox is NOT checked, style the sibling element (~ sibling selector)
  like following */
    padding: 0 30px;
    padding-top: 100%;
    color: black;
    width: auto;
  }
  .btn-open-sidemenu, .btn-close-sidemenu {
    display: none;
    /* remove hamb-icon and closing-icon from navbar*/
  }
  nav a:hover {
    background-color: #8aa370;
    font-weight: bolder;
    box-shadow: none;
  }
}

@media screen and (min-width: 1250px) {
  :not(#sidemenu-activated:checked) ~ .side-menu {
  /* if checkbox is NOT checked, style the sibling element (~ sibling selector)
  like following */
    margin-left: -104px;
    justify-content: center;
    /* center nav-links on larger screen*/
  }
  .home-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-self: center;
    align-items: flex-start;
  }
  .about {
    flex: 1 0 47%;
  }
  .our-vision {
    flex: 1 0 47%;
  }
  .contact {
    flex: 1 0 100%;
    max-height: 200px;
  }
}

@media screen and (min-width: 1800px) {
  section p {
    font-size: 1.1em;
  }
}

/* Validated 2024-09-20 */
